body {
    font-family: 'Roboto', sans-serif;
    padding: 5vw;
    font-size: 16px;
    line-height: 1.5;
}

p, ul, span {
    font-size: 1.3rem;
}


header {
    border: 4px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 4rem;
    padding-bottom: 20px;
    padding-top: 30px;
    color: #1688ac;
}

header p {
    font-size: 1.3rem;
    transform:translateY(60%);
    background-color: white;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}


main {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 2.5rem;
    border-bottom: 4px solid gray;
    color: #1688ac;
    padding-top: 3vw;
}

.left-side {
    width: 55vw;
}

.right-side {
    width: 30vw
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.left-side ul {
    margin-left: 30px;
    list-style-type: disc;
}


.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-name {
    width: 20vw;
}

.skills-level {
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.square-blue {
    width: 15px;
    height: 15px;
    background-color: #1688ac;
}

.square-gray {
    width: 15px;
    height: 15px;
    background-color: gray;
}